swagger: "2.0"
info:
  description: "Futsal Court fixture as a Service"
  version: "0.1.0"
  title: "Fixtures"
  contact:
    email: "kelvintaywl@gmail.com"
host: "api.futsaltokyo.xyz"
basePath: "/"
tags:
- name: "fixture"

schemes:
- "https"
paths:
  /bonfim:
    post:
      tags:
        - "fixture"
      summary: "create new fixture on Bonfim court"
      description: "a list of found requests scheduled for fixture would be returned"
      operationId: "newBonfim"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/authorization'
      - in: "body"
        name: "body"
        description: "User details"
        required: true
        schema:
          $ref: '#/definitions/NewBonfimFixturePayload'
      responses:
        201:
          description: "Successfully created fixtures, pending fixture"
        400:
          description: "Bad input"
        401:
          description: "Invalid secret token"
  /bonfim/{id}:
    get:
      tags:
        - "fixture"
      summary: "get specific fixture info on Bonfim court"
      description: "get specific fixture info on Bonfim court"
      operationId: "getBonfimById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      responses:
        200:
          description: "valid fixture info"
        401:
          description: "Invalid secret token"
        404:
          description: "fixture not found"
    delete:
      tags:
        - "fixture"
      summary: "delete specific fixture info on Bonfim court"
      description: "delete specific fixture info on Bonfim court"
      operationId: "deleteBonfimById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      responses:
        204:
          description: "no content"
        401:
          description: "Invalid secret token"
        404:
          description: "fixture not found"
definitions:
  NewBonfimFixturePayload:
    type: "object"
    required:
      - court
      - date
      - time
    properties:
      court:
        type: "string"
        enum: [
          "indoor",
          "outdoor"
        ]
      date:
        type: "string"
        format: "date-time"
      time:
        type: "string"
        # e.g., 1700-2359
        pattern: "^([01][0-9]|2[0-3]):?([0-5][0-9])-([01][0-9]|2[0-3]):?([0-5][0-9])$"
parameters:
  id:
    in: "path"
    name: "id"
    description: "ID of fixture"
    required: true
    type: "string"
    format: "uuid"
  authorization:
    name: "authorization"
    in: "header"
    description: "authorization key in header (secret token)"
    type: "string"
    pattern: "TOKEN (.+)"
